<%- include("partial/header") %>
<h1>About Us</h1>
<p>Bloggers jam is a blogging website, where one can easily post their thought
on one click.All you need is a title and your words for all those who wants to paint this world
with their blogging. BloggersJam is for you. </p>
<p>Made by shwetal W. with love for the people who have something to sy.</p>

<p>start putting your ideas into worlds now.</p>

<%- include("partial/footer") %>
