<%- include("partial/header") %>
 <h1>Home.</h1>
 <p>Hi and welcome to Blogger's Jam. <br>
 Have a thought, an idea or a story? Have you been thinking about blogging but never really put
time aside to actually start one? well then you have landed on the right place.
compose your idea and thought , published it using Blogger's jam. a simple and eassy way to where you can sharea a pices of you .</p>

<%- include("partial/footer") %>
