<%# Adding Header Template %>
<%- include("partial/header") %>

<%# Main Content %>
<h1><%= customTitle %></h1>
<p><%= customContent %></p>

<%# Adding Footer Template %>
<%- include("partial/footer") %>
